.Date__wrapper {
    position: absolute;
    top: 20px;
    left: -37px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white);

    .Date__inner {
        display: flex;
        flex-direction: column;

        .react-calendar {
            width: 240px;
            border: 0.1px solid rgba(0, 0, 0, 0.1);

            .react-calendar__tile {
                padding: 6px 0;
            }

            .react-calendar__navigation {
                margin-bottom: 6px;
            }
        }

        .Date__inner-btn {
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding: 12px 26px;

            > * {
                padding: 10px 22px;
                border-radius: 6px;
                font-size: 13px;
                font-family: 'DM Sans', sans-serif;
                font-weight: 300;
            }
        }
    }
}
