.LoginLayout__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    transition: opacity 0.5s ease;

    .LoginLayout__inner {
        max-width: 500px;
        padding: 0 16px;
        margin: 0 auto 0;
        top: 36%;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        z-index: 5;

        .LoginLayout__form {
            padding: 34px;
            text-align: center;

            h5 {
                font-size: 20px;
                font-weight: 600;
                padding: 8px 0;
                border-bottom: 2px solid var(--red);
                display: inline-block;
                margin-bottom: 10px;
            }

            .input__container {
                display: flex;
                flex-direction: column;
                text-align: left;
                margin: 24px 0;

                label {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 8px;
                }

                input {
                    border: 2px solid var(--bg-element);
                    padding: 12px 12px;
                    border-radius: 6px;
                    font-size: 18px;
                    outline: none;
                    color: var(--text-color);
                }
            }

            .submit__login {
                display: block;
                border: none;
                width: 100%;
                padding: 16px;
                border-radius: 8px;
                background-color: var(--red);
                color: var(--white);
                font-size: 11px;
                font-weight: 600;
                letter-spacing: 1px;
                cursor: pointer;
                transition: background-color 0.5s ease;

                &:hover {
                    background-color: var(--black);
                }
            }

            nav {
                color: var(--red);
                margin: 20px 0;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .LoginLayout__note-form {
                color: var(--text-color);
                span {
                    color: var(--red);
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .LoginLayout__x-icon {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;

                svg {
                    padding: 6px 8px;
                    color: var(--white);
                    background-color: var(--red);
                    font-weight: bold;
                    border-top-right-radius: 8px;
                }

                &:hover svg {
                    color: var(--black);
                    opacity: 0.8;
                }
            }
        }
    }
}

.input__message,
.password__message {
    color: var(--red);
    display: inline-block;
    margin-top: 8px;
}
