.Title__wrapper {
    width: 100%;

    .Title__inner {
        display: flex;
        flex-direction: column;
        position: relative;

        .Title__type {
            font-family: 'reey';
            font-size: 22px;
            line-height: 50px;
            color: var(--red);
        }
        .Title__note {
            font-size: 50px;
            font-weight: 800;
            line-height: 50px;
        }
    }
}
