@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
    font-family: 'DM Sans', sans-serif;
}

@font-face {
    font-family: reey;
    src: url('./assets/Font/Reey-Regular.otf');
}

:root {
    --white: #fff;
    --text-color: #757783;
    --text-colord9: #9d9d9d;
    --text-color3: #a9a8b6;
    --black: #313041;
    --red: #e8604c;
    --bg-element: #faf5ee;
    --orange: #ffa801;
    --blue: #006cfa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 18px;
}

.App {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.btn {
    color: var(--white);
    background-color: var(--red);
    font-size: 11px;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

ul {
    list-style: none;
}

.input {
    padding: 24px 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--bg-element);
}

::placeholder {
    color: var(--text-color3);
    font-size: 14px;
    letter-spacing: 0.5px;
}
.textarea {
    border: none;
    padding: 16px;
    background-color: var(--bg-element);
    margin: 0 10px 18px 4px;
    font-size: 16px;
    color: var(--text-color);
    border-radius: 8px;
    outline: none;
    width: 100%;
    min-height: 200px;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
