.DestinationList__wrapper {
    width: 100%;

    .DestinationList__inner {
        max-width: 1140px;
        margin: auto;
    }

    .DestinationList__title {
        margin-bottom: 50px;
        text-align: center;
    }
}

.dl__card {
    position: relative;
    right: 0%;
}

@media (max-width: 710px) {
    .DestinationList__wrapper {
        padding: 0 15px;
    }
}
